/**
 * The MIT License
 * Copyright © 2022 Johannes Hampel
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in
 * all copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
 * THE SOFTWARE.
 */

.view-group {
}

.view-group > .content {
  -fx-border-color: -fx-box-border;
}

.view-group:top > .content {
  -fx-border-width: 0 1 1 1;
}

.view-group:right > .content {
  -fx-border-width: 1 0 1 1;
}

.view-group:bottom > .content {
  -fx-border-width: 1 1 0 1;
}

.view-group:left > .content {
  -fx-border-width: 1 1 1 0;
}

.view-group > .header {
  -fx-background-color: -fx-box-border, -fx-background;
  -fx-background-insets: 0 0 0 0, 1 1 1 1;
  -fx-spacing: 2;
  -fx-fill-height: false;
}

.view-group > .header:dragging {
  -fx-background-color: -fx-selection-bar-text, -fx-background;
}

.view-group > .header > .tab-container {
  -fx-padding: 0 4 0 4;
}


/* ViewSelector */

.view-group > .header > .tab-container > .view-selector {
  -fx-background-color: -fx-background;
  -fx-alignment: CENTER;
  -fx-padding: 2 2 2 2;
  -fx-spacing: 2;
  -fx-background-insets: 1 0 1 0;
}

.view-group > .header > .tab-container > .view-selector > .view-selector-control {
  -fx-padding: 0;
  -fx-pref-width: 2em;
  -fx-pref-height: 2em;
  -fx-max-height: 2em;
  -fx-background-color: -fx-box-border, -fx-base, -fx-body-color;
  -fx-background-insets: 0em, 0.05em, 0.1em;
  -fx-background-radius: 1em, 0.95em, 0.9em;
}

.view-group > .header > .tab-container > .view-selector > .view-selector-control > .control-decoration {
  -fx-background-color: -fx-selection-bar-text;
  -fx-scale-shape: false;
}

.view-group > .header > .tab-container > .view-selector > .view-selector-control:hover {
  -fx-color: -fx-hover-base;
}

.view-group > .header > .tab-container > .view-selector > .view-selector-control:hover > .control-decoration {
  -fx-background-color: -fx-focus-color;
}

.view-group > .header > .tab-container > .view-selector > .view-selector-control:pressed > .control-decoration {
  -fx-translate-x: 1;
  -fx-translate-y: 1;
}

.view-group:left > .header > .tab-container > .view-selector > .view-selector-control:pressed > .control-decoration {
  -fx-translate-x: -1;
  -fx-translate-y: 1;
}

.view-group:right > .header > .tab-container > .view-selector > .view-selector-control:pressed > .control-decoration {
  -fx-translate-x: 1;
  -fx-translate-y: -1;
}

.view-group > .header > .tab-container > .view-selector > .view-selector-control > .prev-view {
  -fx-shape: "M12,0 V12 L6,6 Z";
}

.view-group > .header > .tab-container > .view-selector > .view-selector-control > .next-view {
  -fx-shape: "M0,0 V12 L6,6 Z";
}

.view-group > .header > .tab-container > .view-selector > .view-selector-control > .select-view {
  -fx-shape: "M0,0 H12 V2 H0 Z M0,5 H12 V7 H0 Z M0,10 H12 V12 H0 Z";
}

.view-group:left > .header > .tab-container > .view-selector > .view-selector-control > .select-view {
  -fx-shape: "M12,0 V12 H10 V0 Z M7,0 V12 H5 V0 Z Z M2,0 V12 H0 V0 Z";
}

.view-group:right > .header > .tab-container > .view-selector > .view-selector-control > .select-view {
  -fx-shape: "M12,0 V12 H10 V0 Z M7,0 V12 H5 V0 Z Z M2,0 V12 H0 V0 Z";
}

/* TabControl */

.view-group > .header > .tab-container > .tab {
  -fx-background-color: -fx-box-border, -fx-base, -fx-body-color;
  -fx-alignment: CENTER_LEFT;
  -fx-spacing: 0.05em;
}

.view-group > .header > .tab-container > .tab:hover {
  -fx-color: -fx-hover-base;
}

.view-group > .header > .tab-container > .tab:dragging {
  -fx-background-color: -fx-selection-bar-text, -fx-base, -fx-body-color;
}

.view-group > .header > .tab-container > .tab:selected {
  -fx-background-color: -fx-focus-color, -fx-base, -fx-background;
}

.view-group:top > .header > .tab-container > .tab {
  -fx-padding: 0.5em 0.5em 0.2em 0.5em;
  -fx-background-insets: 3 0.25 1 0.25, 4 1.25 1 1.25, 5 2.5 1 2.5;
  -fx-background-radius: 4 4 0 0, 3 3 0 0, 2 2 0 0;
}

.view-group:top > .header > .tab-container > .tab:dragging {
  -fx-background-color: -fx-selection-bar-text, -fx-base, -fx-body-color;
  -fx-background-insets: 3 0.25 0 0.25, 4 1.25 1 1.25, 5 2.5 1 2.5;
}

.view-group:top > .header > .tab-container > .tab:selected {
  -fx-background-insets: 3 0.25 0 0.25, 4 1.25 0 1.25, 5 2.5 0 2.5;
}

.view-group:top > .header > .tab-container > .tab:selected:dragging {
  -fx-background-insets: 3 0.25 0 0.25, 4 1.25 1 1.25, 5 2.5 1 2.5;
}

.view-group:top > .header:dragging > .tab-container > .tab:selected {
  -fx-background-insets: 3 0.25 1 0.25, 4 1.25 1 1.25, 5 2.5 1 2.5;
}

.view-group:right > .header > .tab-container > .tab {
  -fx-padding: 0.5em 0.5em 0.2em 0.5em;
  -fx-background-insets: 3 0.25 1 0.25, 4 1.25 1 1.25, 5 2.5 1 2.5;
  -fx-background-radius: 4 4 0 0, 3 3 0 0, 2 2 0 0;
}

.view-group:right > .header > .tab-container > .tab:dragging {
  -fx-background-color: -fx-selection-bar-text, -fx-base, -fx-body-color;
  -fx-background-insets: 3 0.25 0 0.25, 4 1.25 1 1.25, 5 2.5 1 2.5;
}

.view-group:right > .header > .tab-container > .tab:selected {
  -fx-background-insets: 3 0.25 0 0.25, 4 1.25 0 1.25, 5 2.5 0 2.5;
}

.view-group:right > .header > .tab-container > .tab:selected:dragging {
  -fx-background-insets: 3 0.25 0 0.25, 4 1.25 1 1.25, 5 2.5 1 2.5;
}

.view-group:right > .header:dragging > .tab-container > .tab:selected {
  -fx-background-insets: 3 0.25 1 0.25, 4 1.25 1 1.25, 5 2.5 1 2.5;
}

.view-group:bottom > .header > .tab-container > .tab {
  -fx-padding: 0.2em 0.5em 0.5em 0.5em;
  -fx-background-insets: 1 0.25 3 0.25, 1 1.25 4 1.25, 1 2.5 5 2.5;
  -fx-background-radius: 0 0 4 4, 0 0 3 3, 0 0 2 2;
}

.view-group:bottom > .header > .tab-container > .tab:dragging {
  -fx-background-color: -fx-selection-bar-text, -fx-base, -fx-body-color;
  -fx-background-insets: 0 0.25 3 0.25, 1 1.25 4 1.25, 1 2.5 5 2.5;
}

.view-group:bottom > .header > .tab-container > .tab:selected {
  -fx-background-insets: 0 0.25 3 0.25, 0 1.25 4 1.25, 0 2.5 5 2.5;
}

.view-group:bottom > .header > .tab-container > .tab:selected:dragging {
  -fx-background-insets: 1 0.25 3 0.25, 1.5 1.25 4 1.25, 1.5 2.5 5 2.5;
}

.view-group:bottom > .header:dragging > .tab-container > .tab:selected {
  -fx-background-insets: 1 0.25 3 0.25, 1 1.25 4 1.25, 1 2.5 5 2.5;
}

.view-group:left > .header > .tab-container > .tab {
  -fx-padding: 0.5em 0.5em 0.2em 0.5em;
  -fx-background-insets: 3 0.25 1 0.25, 4 1.25 1 1.25, 5 2.5 1 2.5;
  -fx-background-radius: 4 4 0 0, 3 3 0 0, 2 2 0 0;
}

.view-group:left > .header > .tab-container > .tab:dragging {
  -fx-background-color: -fx-selection-bar-text, -fx-base, -fx-body-color;
  -fx-background-insets: 3 0.25 0 0.25, 4 1.25 1 1.25, 5 2.5 1 2.5;
}

.view-group:left > .header > .tab-container > .tab:selected {
  -fx-background-insets: 3 0.25 0 0.25, 4 1.25 0 1.25, 5 2.5 0 2.5;
}

.view-group:left > .header > .tab-container > .tab:selected:dragging {
  -fx-background-insets: 3 0.25 0 0.25, 4 1.25 1 1.25, 5 2.5 1 2.5;
}

.view-group:left > .header:dragging > .tab-container > .tab:selected {
  -fx-background-insets: 3 0.25 1 0.25, 4 1.25 1 1.25, 5 2.5 1 2.5;
}

/* TabControl buttons */

.view-group > .header > .tab-container > .tab > .tab-button {
  -fx-background-color: -fx-selection-bar-text;
  -fx-padding: 0 0.5em 0 0.5em;
}

.view-group > .header > .tab-container > .tab > .tab-button:hover {
  -fx-background-color: -fx-focus-color;
}

.view-group > .header > .tab-container > .tab > .tab-button:pressed {
  -fx-translate-x: 1;
  -fx-translate-y: 1;
}

.view-group:left > .header > .tab-container > .tab > .tab-button:pressed {
  -fx-translate-x: -1;
  -fx-translate-y: 1;
}

.view-group:right > .header > .tab-container > .tab > .tab-button:pressed {
  -fx-translate-x: 1;
  -fx-translate-y: -1;
}

.view-group > .header > .tab-container > .tab > .close-button {
  -fx-shape: "M0,0 H1 L 5,4 9,0 H10 V1 L 6,5 10,9 V10 H9 L 5,6 1,10 H0 V9 L 4,5 0,1 Z";
  -fx-scale-shape: false;
}

.view-group > .header > .tab-container > .tab > .maximize-button {
  -fx-shape: "M0,0 H10 V10 H7 V4 H0 Z M0,4 V10 H7 V9 H1 V4 Z";
  -fx-scale-shape: false;
}

.view-group:left > .header > .tab-container > .tab > .maximize-button {
  -fx-shape: "M10,0 V10 H0 V7 H6 V0 Z M6,0 H0 V7 H1 V1 H6 Z";
  -fx-scale-shape: false;
}

.view-group:right > .header > .tab-container > .tab > .maximize-button {
  -fx-shape: "M0,10 V0 H10 V3 H4 V10 Z M10,3 V10 H4 V9 H9 V3 Z";
  -fx-scale-shape: false;
}

/* DropTargetBox */

.drop-target {
  -fx-background-color: rgba(128, 128, 128, 0.3);
  -fx-border-color: -fx-selection-bar-text;
  -fx-border-width: 1;
}
